*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.catagroy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 90%;
    background-color: #F5F5F5;
    margin-top: 100px;
    margin-left: 100px;
}

.watch a img{
    height: 300px;
    border-radius: 20px;
}
.shoese a img{
    height: 300px;
    border-radius: 20px;
}
.perfume a img{
    height: 300px;
    border-radius: 20px;
}